@page

@model JsPlayground.Pages.Javascript.Navigation.ChildNodesModel

@{
    string pageId = "Child Nodes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-dom-navigation}
@section BreadCrumbChapter {dom navigation}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    In addition to the innerHTML property, you can also use the <code>childNodes</code> and <code>nodeValue</code> properties to get the content of
    an element. The following example collects the node value of an h1 element and copies it into a p element:
</p>

<hr />

<h3 id="intro">My First Page</h3>

<p id="demo">Hello!</p>

<hr />

<div class="my-3">
    <h4 class="text-center text-info"><span id="demo1"></span></h4>
</div>

<pre>
<code>
// This looks for the first child node of the identified element and gets it's value.
// The first one of having an index of 0.
let myText = document.getElementById("intro").childNodes[0].nodeValue;

// This takes that obtained value from above and puts it inside of 'demo1'.
document.getElementById("demo1").innerHTML = myText;
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        // This looks for the first child node of the identified element and gets it's value.
        // The first one of having an index of 0.
        let myText = document.getElementById("intro").childNodes[0].nodeValue;

        // This takes that obtained value from above and puts it inside of 'demo1'.
        document.getElementById("demo1").innerHTML = myText;
    </script>
}
