@page

@model JsPlayground.Pages.Javascript.Strings.IndexOfModel

@{
    string pageId = "IndexOf";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-strings}
@section BreadCrumbChapter {strings}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}


<p>
    The <code>indexOf()</code> method returns the index of (the position of) the first occurrence of a specified text in a string. If it
    is NOT found, it will return a </code>-1</code>. 0 is actually the very first position (zero based) so it's possible o is return as a
    positive test.
</p>

<div class="card text-white bg-info mt-5">
    <div class="card-body">
        <div id="demo1"></div>
        <div id="demo2"></div>
    </div>
</div>

<pre>
<code>
let str = "Please locate where 'Hello World' occurs!";
let pos = str.indexOf("Hello World")
document.getElementById("demo1").innerHTML = "The position of Hello World is: " + pos + ".";

let str2 = "Please locate where 'Hello World' occurs!";
let pos2 = str.indexOf("Ricky Bobby");
document.getElementById("demo2").innerHTML = "The position of Ricky Bobby is: " + pos2 + ".";
</code>
</pre>

<p>&nbsp;</p>

<p>
    The <code>indexOf()</code> also works with arrays! You can use it to determine if something is found within an array. If it is NOT
    found, it will return a -1. 0 is actually the very first position (zero based) so it's possible o is return as a
    positive test.
</p>

<pre>
<code>
var fruits = ["Banana", "Orange", "Apple", "Mango"];
var a = fruits.indexOf("Apple");
</code>
</pre>

<p>
    The result of a will be 2 meaning that "Apple" is located at position 2 in the array.
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        window.onload = function () {
            let str = "Please locate where 'Hello World' occurs!";
            let pos = str.indexOf("Hello World")
            document.getElementById("demo1").innerHTML = "The position of Hello World is: " + pos + ".";

            let str2 = "Please locate where 'Hello World' occurs!";
            let pos2 = str2.indexOf("Ricky Bobby");
            document.getElementById("demo2").innerHTML = "The position of Ricky Bobby is: " + pos2 + ".";
        }
    </script>
}
