@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Set Methods";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-dates}
@section BreadCrumbChapter {dates}
@section BreadCrumbPageName {set methods}
@section PageName {Set Methods}

<p>
    Date methods let you GET and SET date values (years, months, days, hours, minutes, seconds, milliseconds).
</p>

<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <td><code>setDate()</code></td>
            <td>Set the day as a number (1-31)</td>
        </tr>

        <tr>
            <td><code>setFullYear()</code></td>
            <td>Set the four digit year (yyyy)</td>
        </tr>

        <tr>
            <td><code>setHours()</code></td>
            <td>Set the hour (0-23)</td>
        </tr>

        <tr>
            <td><code>setMilliseconds()</code></td>
            <td>Set the milliseconds (0-999)</td>
        </tr>

        <tr>
            <td><code>setMinutes()</code></td>
            <td>Set the minutes (0-59)</td>
        </tr>

        <tr>
            <td><code>setMonth()</code></td>
            <td>Set the month (0-11)</td>
        </tr>

        <tr>
            <td><code>setSeconds()</code></td>
            <td>Set the seconds (0-59)</td>
        </tr>

        <tr>
            <td><code>setTime()</code></td>
            <td>Set the time (milliseconds since January 1, 1970)</td>
        </tr>

    </tbody>
</table>

<div class="my-5"></div>

@section Scripts
{
    <script>
        let date1 = new Date();
        document.getElementById("demo1").innerHTML = date1;

        let date2 = new Date();
        document.getElementById("demo2").innerHTML = date2;

        let date3 = new Date("2017-04-30T12:30:00");
        document.getElementById("demo3").innerHTML = date3;

        let date4 = new Date("04/30/2017");
        document.getElementById("demo4").innerHTML = date4;

        let date5 = new Date("Mar 25 2015");
        document.getElementById("demo5").innerHTML = date5;
    </script>
}
