@page

@model JsPlayground.Pages.jquery.events.HoverModel

@{
    string pageId = "hover()";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {jQuery}
@section BreadCrumbLibrary {jquery}
@section BreadCrumbAnchor {jq-events}
@section BreadCrumbChapter {events}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    Hover is simply a combination of mouseover and mouseout.  jQuery combines the two and makes it a little easier to write.
    It takes <strong>two</strong> arguments which are the
    anonymous functions.
</p>

<p>MouseOver each of these alerts.</p>

<div id="alert1" class="alert alert-info">
    <h5>jQuery method - alert #1</h5>
</div>

<div id="alert2" class="alert alert-info">
    <h5>Javascript method - alert #2</h5>
</div>

<div id="alert3" class="alert alert-info">
    <h5 id="demo1" class="text-danger"></h5>
</div>


<pre>
<code>
//jQuery method
$("#alert1").hover(function () { $("#demo1").html("hovering over well 1"); }, function () { $("#demo1").html("leaving well 1"); });

//Javascript method
document.getElementById("alert2").addEventListener("mouseover", function () { document.getElementById("demo1").innerHTML = "entering well 2"; });
document.getElementById("alert2").addEventListener("mouseout", function () { document.getElementById("demo1").innerHTML = "leaving well 2"; });
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>



@section Scripts
{
    <script>
        //jQuery method
        $("#alert1").hover(function () { $("#demo1").html("hovering over well 1"); }, function () { $("#demo1").html("leaving well 1"); });

        //Javascript method
        document.getElementById("alert2").addEventListener("mouseover", function () { document.getElementById("demo1").innerHTML = "entering well 2"; });
        document.getElementById("alert2").addEventListener("mouseout", function () { document.getElementById("demo1").innerHTML = "leaving well 2"; });
    </script>
}