@page

@model JsPlayground.Pages.jquery.plugins.CountDownModel

@{
    string pageId = "CountDown";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {jQuery}
@section BreadCrumbLibrary {jquery}
@section BreadCrumbAnchor {jq-plugins}
@section BreadCrumbChapter {plugins}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<style>
    #clock {
        margin-top: 100px;
        font-size: 50px;
        color: #ffffff;
        padding: 50px;
        border-color: #a11502;
        border-radius: 20px;
        border-width: 2px;
        border-style: solid;
        background-color: #ff8a8a;
        text-shadow: 2px 2px #1b1b1b;
    }
</style>


<p>
    <a href="http://hilios.github.io/jQuery.countdown/" target="_blank">http://hilios.github.io/jQuery.countdown/</a>
</p>

<div class="row">
    <div class="col-12">
        <div id="clock"></div>
    </div>
</div>

<p>&nbsp;</p>

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../assets/javascripts/jquery.countdown.js"></script>
    <script>
        $(function ()
        {
            //$('#clock').countdown('2025/04/30').on('update.countdown', function (event) {
            //    var $this = $(this).html(event.strftime(''
            //        + '<span>%-Y</span> year%!Y '
            //        //+ '<span>%-w</span> week%!w '
            //        + '<span>%-d</span> day%!d '
            //        + '<span>%H</span> hr '
            //        + '<span>%M</span> min '
            //        + '<span>%S</span> sec'));
            //    8
            //});

            $('#clock').countdown('2025/04/30', function (event)
            {
              $('#clock').html(event.strftime('%m months and %n days'));
            });
        });
    </script>
}
