@page

@model JsPlayground.Pages.TypeScript.Forms.LoopThruFormControlsModel

@{
    string pageId = "Loop Through Form Controls";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section BreadCrumbLibrary {typescript}
@section BreadCrumbAnchor {ts-forms}
@section BreadCrumbChapter {forms}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    In this example, let's grab each type of form control and capture it's value.
</p>

<hr />

<form id="TestForm">

    <div class="form-group">
        <label for="ColorList">Pick a color</label>
        <select class="form-control" id="ColorList" name="ColorList">
            <option value="0">pick a color</option>
            <option value="1">Red</option>
            <option value="2">Blue</option>
            <option value="3">White</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ColorList">Name</label>
        <input type="text" id="NameText" value="Ricky Bobby" class="form-control" name="NameText" />
    </div>

    <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="CheckBox1" name="CheckBox1">
        <label class="form-check-label" for="CheckBox1">
            Check Me
        </label>
    </div>

    <div class="my-3">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="RadioGroup1" id="Radio1" value="Foo" checked>
            <label class="form-check-label" for="Radio1">
                Foo
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="RadioGroup1" id="Radio2" value="Bar">
            <label class="form-check-label" for="Radio2">
                Bar
            </label>
        </div>
    </div>

    <div>
        <button type="button" id="TestButton" class="btn btn-primary" name="TestButton">
            Test Button
        </button>
    </div>

</form>

<hr />

<div class="card bg-primary my-5">
    <div class="card-body text-white">
        <div id="demo"></div>
    </div>
</div>

<hr />

<pre>
<code>
let form: HTMLFormElement = &lt;HTMLFormElement>document.forms[0];
let demo: HTMLElement = &lt;HTMLElement>document.getElementById("demo");
let output : string = "";
for (let i: number = 0; i < form.length; i++)
{
    // https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormControlsCollection
    // https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement let element:
    HTMLFormElement=&lt;HTMLFormElement>form.elements[i];

    if (element.name === "CheckBox1")
    {
        output += element.checked + "&lt;br />";
    }
    else
    {
        output += element.value + "&lt;br />";
    }
}

// results
demo.innerHTML = output;
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
    <script src="/assets/javascripts/compiled/Forms/loop-thru-form-controls.js"></script>
}