@page

@model JsPlayground.Pages.jquery.ajax.AjaxSuccessModel

@{
    string pageId = "AjaxSuccess";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {jQuery}
@section BreadCrumbLibrary {jquery}
@section BreadCrumbAnchor {jq-ajax}
@section BreadCrumbChapter {ajax}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}


<p>
    The <code>ajaxSuccess()</code> method specifies a function to run when an AJAX request completes successfully.
</p>

<p><a href="http://www.w3schools.com/jquery/ajax_ajaxsuccess.asp" target="_blank">http://www.w3schools.com/jquery/ajax_ajaxsuccess.asp</a></p>

<p class="text-center"><button id="btnSuccess" class="btn btn-success" type="button">Success Test</button></p>

<div class="card text-white bg-info m-5 col-12">
    <div class="card-body">
        <div id="ajax-content"></div>
        <div id="demo1"></div>
    </div>
</div>

<pre>
<code>
$(document).ready(function ()
{
    // only the ajax call can trigger this
    $(document).ajaxSuccess(function () { ShowSuccess(); });

    $("#btnSuccess").click(function ()
    { $("#ajax-content").load("../../assets/css/custom.css"); });

    function ShowSuccess()
    { $("#demo1").html("AJAX was successful");  }
});
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $(document).ajaxSuccess(function () { ShowSuccess(); });

            // for some reason, iis express didn't want to serve txt files from wwwroot
            $("#btnSuccess").click(function () { $("#ajax-content").load("../../assets/css/custom.css"); });

            function ShowSuccess() { $("#demo1").html("AJAX was successful"); }
        });
    </script>
}
