@page

@model JsPlayground.Pages.jquery.effects.AnimateModel

@{
    string pageId = "animate()";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {jQuery}
@section BreadCrumbLibrary {jquery}
@section BreadCrumbAnchor {jq-effects}
@section BreadCrumbChapter {effects}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}


<p>
    The jQuery <code>animate()</code> method lets you create custom animations.
    The required params parameter defines the CSS properties to be animated.
    The optional speed parameter specifies the duration of the effect. It can take the following values: "slow", "fast", or milliseconds.
    The optional callback parameter is a function to be executed after the animation completes.
</p>

<div class="m-3">
    <code>
        $(selector).animate({params},speed,callback);
    </code>
</div>

<p><a href="http://api.jquery.com/category/effects/custom-effects/" target="_blank">http://api.jquery.com/category/effects/custom-effects/</a></p>

<p class="text-center"><button id="btnAnimate" type="button" class="btn btn-danger">Start Animation</button></p>

<div id="demo1" style="background:#98bf21;height:100px;width:100px;position:absolute;"></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<pre>
<code>
$(document).ready(function ()
{
    $("#btnAnimate").click(function ()
    {
        $("#demo1").animate
        (
            {
                left: '250px',
                opacity: '0.5',
                height: '150px',
                width: '150px',
                margin: '0px 100px',
            }, 3000
        );
    });
});
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>



@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#btnAnimate").click(function () {
                $("#demo1").animate
                    (
                        {
                            left: '250px',
                            opacity: '0.5',
                            height: '150px',
                            width: '150px',
                            margin: '0px 100px',
                        }, 3000
                    );
            });
        });
    </script>
}
