@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Basics";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-debugging}
@section BreadCrumbChapter {debugging}
@section BreadCrumbPageName {basics}
@section PageName {Basics}

<p>Here are a few ways to debug:</p>

<ul>
    <li>Setting break points in the Developer tools of the browser</li>
    <li>Writing into the browser console, using console.log()</li>
    <li>Using the <code>debugger</code> command in your code</li>
    <li>Writing into an alert box, using window.alert()</li>
    <li>Writing into the HTML output using document.write()</li>
    <li>Writing into an HTML element, using innerHTML</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
}
