@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Events";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-dom-events}
@section BreadCrumbChapter {dom events}
@section BreadCrumbPageName {events}
@section PageName {Events}

<p>
    A JavaScript can be executed when an event occurs, like when a user clicks on an HTML element. To execute code when a
    user clicks on an element, add JavaScript code to an HTML event attribute.
</p>

<p><a href="https://www.w3schools.com/jsref/dom_obj_event.asp" target="_blank">https://www.w3schools.com/jsref/dom_obj_event.asp</a></p>

<p>Examples:</p>

<ul>
    <li>When a user clicks the mouse (onclick/click)</li>
    <li>When a web page has loaded (onload)</li>
    <li>When an image has been loaded</li>
    <li>When the mouse moves over an element</li>
    <li>When an input field is changed</li>
    <li>When an HTML form is submitted</li>
    <li>When a user strokes a key</li>
</ul>

<p>Methods are actions that can be performed on objects. Methods are stored in properties as function definitions.</p>

<ul>
    <li><strong>onchange</strong> An HTML element has been changed</li>
    <li><strong>onclick</strong> The user clicks an HTML element</li>
    <li><strong>onmouseover</strong> The user moves the mouse over an HTML element</li>
    <li><strong>onmouseout</strong> The user moves the mouse away from an HTML element</li>
    <li><strong>onkeydown</strong> The user pushes a keyboard key</li>
    <li><strong>onload</strong> The browser has finished loading the page</li>
</ul>

<p><a href="http://www.w3schools.com/js/js_htmldom_events.asp " target="_blank">http://www.w3schools.com/js/js_htmldom_events.asp</a></p>

<p>&nbsp;</p>

@section Scripts
{
}
