@page

@model JsPlayground.Pages.Javascript.Global_Functions.ParseFloatModel


@{
    string pageId = "ParseFloat";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-global-functions}
@section BreadCrumbChapter {global functions}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}


<p>
    Parses its argument (string) and returns a floating point number. <code>parseFloat()</code> parses a string and returns a number.
    Spaces are allowed. Only the first number is returned.
</p>


<div class="card bg-primary my-5">
    <div class="card-body text-white">
        <div id="demo1"></div>
    </div>
</div>

<hr />

<pre>
<code>
let output = "";
let output = "";
let a = "10";
let b = "10.33";
let c = "10 20 30";
let d = "10 years";
let e = "years 10";
output += `10: ${parseFloat(a)}&lt;br />`;
output += `10.33: ${parseFloat(b)}&lt;br />`;
output += `10 20 30: ${parseFloat(c)}&lt;br />`;
output += `"10 years": ${parseFloat(d)}&lt;br />`;
output += `"years 10": ${parseFloat(e)}&lt;br />`;

let demo1 = document.getElementById("demo1");
demo1.innerHTML = output;
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        window.onload = function () {
            let output = "";
            let a = "10";
            let b = "10.33";
            let c = "10 20 30";
            let d = "10 years";
            let e = "years 10";
            output += `10: ${parseFloat(a)}<br />`;
            output += `10.33: ${parseFloat(b)}<br />`;
            output += `10 20 30: ${parseFloat(c)}<br />`;
            output += `"10 years": ${parseFloat(d)}<br />`;
            output += `"years 10": ${parseFloat(e)}<br />`;

            let demo1 = document.getElementById("demo1");
            demo1.innerHTML = output;
        };
    </script>
}