@page

@model ArrayMethodsModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Array Methods";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-arrays}
@section BreadCrumbChapter {arrays}
@section BreadCrumbPageName {array methods}
@section PageName {Array Methods}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<table class="table table-condensed table-border table-striped">
    <tbody>

        <tr>
            <td><strong><a href="Concat">concat()</a></strong></td>
            <td>Joins two or more arrays, and returns a copy of the joined arrays</td>
        </tr>

        <tr>
            <td><strong>copyWithin()</strong></td>
            <td>Copies array elements within the array, to and from specified positions</td>
        </tr>

        <tr>
            <td><strong>every()</strong></td>
            <td>Checks if every element in an array pass a test</td>
        </tr>

        <tr>
            <td><strong>fill()</strong></td>
            <td>Fill the elements in an array with a static value</td>
        </tr>

        <tr>
            <td><strong><a href="Filter">filter()</a></strong></td>
            <td>Creates a new array with every element in an array that pass a test</td>
        </tr>

        <tr>
            <td><strong>find()</strong></td>
            <td>Returns the value of the first element in an array that pass a test</td>
        </tr>

        <tr>
            <td><strong>findIndex()</strong></td>
            <td>Returns the index of the first element in an array that pass a test</td>
        </tr>

        <tr>
            <td><strong><a href="ForEach">forEach()</a></strong></td>
            <td>Calls a function for each array element</td>
        </tr>

        <tr>
            <td><strong><a href="IndexOf">indexOf()</a></strong></td>
            <td>Search the array for an element and returns its position</td>
        </tr>

        <tr>
            <td><strong><a href="IsArray">isArray()</a></strong></td>
            <td>Checks whether an object is an array</td>
        </tr>

        <tr>
            <td><strong><a href="Join">join()</a></strong></td>
            <td>Joins all elements of an array into a string</td>
        </tr>

        <tr>
            <td><strong>lastIndexOf()</strong></td>
            <td>Search the array for an element, starting at the end, and returns its position</td>
        </tr>

        <tr>
            <td><strong><a href="Map">map()</a></strong></td>
            <td>Creates a new array with the result of calling a function for each array element</td>
        </tr>

        <tr>
            <td><strong><a href="Pop">pop()</a></strong></td>
            <td>Removes the last element of an array, and returns that element</td>
        </tr>

        <tr>
            <td><strong><a href="Push">push()</a></strong></td>
            <td>Adds new elements to the end of an array, and returns the new length</td>
        </tr>

        <tr>
            <td><strong><a href="Reduce">reduce()</a></strong></td>
            <td>Reduce the values of an array to a single value (going left-to-right)</td>
        </tr>

        <tr>
            <td><strong>reduceRight()</strong></td>
            <td>Reduce the values of an array to a single value (going right-to-left)</td>
        </tr>

        <tr>
            <td><strong><a href="Reverse">reverse()</a></strong></td>
            <td>Reverses the order of the elements in an array</td>
        </tr>

        <tr>
            <td><strong><a href="Shift">shift()</a></strong></td>
            <td>Removes the first element of an array, and returns that element</td>
        </tr>

        <tr>
            <td><strong><a href="Slice">slice()</a></strong></td>
            <td>Selects a part of an array, and returns the new array</td>
        </tr>

        <tr>
            <td><strong>some()</strong></td>
            <td>Checks if any of the elements in an array pass a test</td>
        </tr>

        <tr>
            <td><strong><a href="Sort">sort()</a></strong></td>
            <td>Sorts the elements of an array</td>
        </tr>

        <tr>
            <td><strong><a href="Splice">splice()</a></strong></td>
            <td>Adds/Removes elements from an array</td>
        </tr>

        <tr>
            <td><strong><a href="ToString">toString()</a></strong></td>
            <td>Converts an array to a string, and returns the result</td>
        </tr>

        <tr>
            <td><strong>unshift()</strong></td>
            <td>Adds new elements to the beginning of an array, and returns the new length</td>
        </tr>

        <tr>
            <td><strong><a href="ValueOf">valueOf()</a></strong></td>
            <td>Returns the primitive value of an array</td>
        </tr>

    </tbody>
</table>

<p>&nbsp;</p>

@section Scripts
{
}
