@page

@model ArrayPropertiesModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Array Properties";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-arrays}
@section BreadCrumbChapter {arrays}
@section BreadCrumbPageName {array properties}
@section PageName {Array Properties}

<table class="table table-condensed table-border table-striped">
    <tbody>

        <tr>
            <td><strong>length</strong></td>
            <td>Returns the length of an array (the number of array elements)</td>
        </tr>

    </tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
}
