@page

@model FilterModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "filter()";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-arrays}
@section BreadCrumbChapter {arrays}
@section BreadCrumbPageName {filter()}
@section PageName {filter()}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    The <code>filter()</code> method allows you to apply a filter to an array and then return a <strong>new</strong>
    array of all the values that meet the condition.
</p>

<p>
    The <code>filter()</code> method creates an array filled with all array elements <strong>that pass a test</strong> (provided as a function).
    <code>filter()</code> <strong>executes on each element of the array</strong> and does not execute the function for array elements without values.
    Note: filter() does not change the original array.
</p>

<p><a href="https://www.w3schools.com/jsref/jsref_filter.asp">https://www.w3schools.com/jsref/jsref_filter.asp</a></p>

<div class="card text-white bg-info m-3 col-3">
    <div class="card-body">
        <div id="">
            <h4 class="text-white text-center">Adult ages</h4>
            <p class="text-white text-center" id="demo1"></p>
        </div>
    </div>
</div>

<pre>
<code>
const ages = [40, 11, 8, 32, 33, 16, 40];
const CheckForAdult = (age) => { return age >= 18; };

document.getElementById("demo1").innerHTML = ages.filter(CheckForAdult);
</code>
</pre>

<p>&nbsp;</p>

<p>
    Here's an example using a function expression. Instead of creating a separate function, were defining its definition right in the filter's argument.
</p>

<div class="card text-white bg-info m-3 col-3">
    <div class="card-body">
        <div id="">
            <h4 class="text-white text-center">Youth ages</h4>
            <p class="text-white text-center" id="demo2"></p>
        </div>
    </div>
</div>

<pre>
<code>
const ages = [40, 11, 8, 32, 33, 16, 40];
document.getElementById("demo2").innerHTML = ages.filter((a) => a < 18 );
</code>
</pre>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        const ages = [40, 11, 8, 32, 33, 16, 40];
        const CheckForAdult = (age) => { return age >= 18; };

        document.getElementById("demo1").innerHTML = ages.filter(CheckForAdult);
        document.getElementById("demo2").innerHTML = ages.filter((a) => a < 18);
    </script>
}
