@page

@model FindModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "find()";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-arrays}
@section BreadCrumbChapter {arrays}
@section BreadCrumbPageName {find()}
@section PageName {find()}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    The <code>find()</code> returns the value of the <strong>first</strong> element in an array that pass a test (provided as a function).
</p>

<p>
    The <code>find()</code> method executes the function once for each element present in the array.
    If it finds an array element where the function returns a true value,
    <code>find()</code> returns the value of that array element (and <strong>does not check the remaining values</strong>)
    Otherwise it returns <code>undefined</code>.
</p>

<p>
    <code>find()</code> does not execute the function for empty arrays.
</p>

<p>
    <code>find()</code> does not change the original array.
</p>

<div class="card text-white bg-info m-3 col-6">
    <div class="card-body">
        <div id="">
            <p class="text-white text-center" id="demo1"></p>
        </div>
    </div>
</div>

<p>You can use an in-line function as show below or reference (name only) the name of another full function.</p>

<pre>
<code>
$(function ()
{
    let clarkeMatch = authors.find((author) => { return author.name.toLowerCase() === "arthur c clarke" });
    $("#demo1").html(clarkeMatch.name + "&lt;br />Books: " + clarkeMatch.books.join(", "));

    // or
    //let clarkeMatch = authors.find(GetArthur);
    //$("#demo1").html(clarkeMatch.name + "&lt;br />Books: " + clarkeMatch.books.join(", "));

    //const GetArthur = () => { return author.name.toLowerCase() === "arthur c clarke"};
});
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
    <script src="~/assets/javascripts/SampleAuthorsArray.js"></script>
    <script>
        $(function ()
        {
            let clarkeMatch = authors.find((author) => { return author.name.toLowerCase() === "arthur c clarke" });
            $("#demo1").html(clarkeMatch.name + "<br />Books: " + clarkeMatch.books.join(", "));
        });
    </script>
}
