@page

@model SliceModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "slice()";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-arrays}
@section BreadCrumbChapter {arrays}
@section BreadCrumbPageName {slice()}
@section PageName {slice()}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<code>
    array.slice(start, end)
</code>

<p>
    The slice() method slices out a piece of an array into a new array. This example slices out a part of an array starting
    from array element 1 ("Orange").
</p>

<p>
    <code>start</code>
    An integer that specifies where to start the selection (The first element has an index of 0).
    Use negative numbers to select from the end of an array. If omitted, it acts like "0"
</p>

<p>
    <code>end (optional)</code>
    An integer that specifies where to end the selection - <strong>not zero-based index</strong>.
    If omitted, all elements from the start position and
    to the end of the array will be selected. Use negative numbers to select from the end of an array.
</p>


<div class="card text-white bg-info m-3 col-6">
    <div class="card-body">
        <div id="">
            <h3 class="text-white" id="demo"></h3>
            <h3 class="text-white" id="demo2"></h3>
        </div>
    </div>
</div>

<pre>
<code>
let fruits = ["Pear", "Banana", "Apple", "Orange", "Lemon", "Mango", "Lime"];
let citrus = fruits.slice(3);
let partial = fruits.slice(1, 5)
document.getElementById("demo").innerHTML = citrus.join(", ");
document.getElementById("demo2").innerHTML = partial.join(", ");
</code>
</pre>

<p>&nbsp;</p>

<p>
    Here's an excellent example of taking an array, replacing only certain values, and then returning the modified array using <code>slice()</code>.
</p>

<pre>
<code>
handleClick(i)
{
    // takes old array, finds the one passed in, and marks it as X.
    const squares = this.state.squares.slice();
    squares[i] = "X";
    console.log(squares[i]);
    this.setState({squares: squares});
}
</code>
</pre>


<p>&nbsp;</p>

@section Scripts
{
    <script>
        let fruits = ["Pear", "Banana", "Apple", "Orange", "Lemon", "Mango", "Lime"];
        let citrus = fruits.slice(3);
        let partial = fruits.slice(1, 5)
        document.getElementById("demo").innerHTML = citrus.join(", ");
        document.getElementById("demo2").innerHTML = partial.join(", ");
    </script>
}
