@page

@model JsPlayground.Pages.Javascript.Math.CommonMathFunctionsModel

@{
    string pageId = "Common Math Functions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-math}
@section BreadCrumbChapter {math}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    The Math object contains a lot of helpful, common methods.
</p>

<table class="table table-bordered">
    <tr>
        <td><code>abs(x)</code></td>
        <td>Returns the absolute value of x</td>
    </tr>

    <tr>
        <td><code>acos(x)</code></td>
        <td>Returns the arccosine of x, in radians</td>
    </tr>

    <tr>
        <td><code>asin(x)</code></td>
        <td>Returns the arcsine of x, in radians</td>
    </tr>

    <tr>
        <td><code>atan(x)</code></td>
        <td>Returns the arctangent of x as a numeric value between -PI/2 and PI/2 radians</td>
    </tr>

    <tr>
        <td><code>atan2(y,x)</code></td>
        <td>Returns the arctangent of the quotient of its arguments</td>
    </tr>

    <tr>
        <td><code>ceil(x)</code></td>
        <td>Returns x, rounded upwards to the nearest integer</td>
    </tr>

    <tr>
        <td><code>cos(x)</code></td>
        <td>Returns the cosine of x (x is in radians)</td>
    </tr>

    <tr>
        <td><code>exp(x)</code></td>
        <td>Returns the value of E (2)</td>
    </tr>

    <tr>
        <td><code>log(x)</code></td>
        <td>Returns the natural logarithm (base E) of x</td>
    </tr>

    <tr>
        <td><code>floor(x)</code></td>
        <td>Returns x, rounded downwards to the nearest integer</td>
    </tr>

    <tr>
        <td><code>max(x,y,z,...,n)</code></td>
        <td>Returns the number with the highest value</td>
    </tr>

    <tr>
        <td><code>min(x,y,z,...,n)</code></td>
        <td>Returns the number with the lowest value</td>
    </tr>

    <tr>
        <td><code>pow(x,y)</code></td>
        <td>Returns the value of x to the power of y</td>
    </tr>

    <tr>
        <td><code>random()</code></td>
        <td>Returns a random number between 0 and 1</td>
    </tr>

    <tr>
        <td><code>round(x)</code></td>
        <td>Rounds x to the nearest integer</td>
    </tr>

    <tr>
        <td><code>sin(x)</code></td>
        <td>Returns the sine of x (x is in radians)</td>
    </tr>

    <tr>
        <td><code>sqrt(x)</code></td>
        <td>Returns the square root of x</td>
    </tr>

    <tr>
        <td><code>tan(x)</code></td>
        <td>Returns the tangent of an angle</td>
    </tr>

</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
}
