@page

@model JsPlayground.Pages.Javascript.Math.MinMaxModel

@{
    string pageId = "Min / Max";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-math}
@section BreadCrumbChapter {math}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    <code>Math.min()</code> and vMath.max()v can be used to find the lowest or highest value in a list of arguments.
</p>

<pre>
<code>
let demo1 = document.getElementById("demo1");
demo1.innerHTML = "Min: " + Math.min(0, 150, 30, 20, -8, -200) + ", Max: " + Math.max(0, 150, 30, 20, -8, -200);
</code>
</pre>

<div class="card text-white bg-info mt-5">
    <div class="card-body">
        <div id="demo1"></div>
    </div>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
    <script>
        let demo1 = document.getElementById("demo1");
        demo1.innerHTML = "Min: " + Math.min(0, 150, 30, 20, -8, -200) + ", Max: " + Math.max(0, 150, 30, 20, -8, -200);
    </script>
}
