@page

@model JsPlayground.Pages.Javascript.Math.RoundModel

@{
    string pageId = "Round";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-math}
@section BreadCrumbChapter {math}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>
    <code>Math.round()</code>rounds a number to the nearest integer.
</p>

<pre>
<code>
let demo1 = document.getElementById("demo1");
demo1.innerHTML = "Rounding 4.7: " + Math.round(4.7) + ". Rounding 4.4: " + Math.round(4.4);
</code>
</pre>

<div class="card text-white bg-info mt-5">
    <div class="card-body">
        <div id="demo1"></div>
    </div>
</div>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let demo1 = document.getElementById("demo1");
        demo1.innerHTML = "Rounding 4.7: " + Math.round(4.7) + "<br />Rounding 4.4: " + Math.round(4.4);
    </script>
}
