@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Basics";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-basics}
@section BreadCrumbChapter {basics}
@section BreadCrumbPageName {basics}
@section PageName {Basics}

<ul>
    <li>Prototypical Inheritance instead of Classes</li>
    <li>Not type-less but dynamically typed</li>
    <li>Just In Time compiled</li>
    <li>Versions: <a href="https://www.w3schools.com/js/js_versions.asp" target="_blank">https://www.w3schools.com/js/js_versions.asp</a></li>
</ul>

<p>&nbsp;</p>

<p>Did You Know?</p>

<ul>
    <li>External scripts cannot contain &lt;script&gt; tags</li>
    <li>JavaScript and Java are completely different languages, both in concept and design</li>
    <li>ECMA-262 is the official name. ECMAScript 6 was released in June 2015 and we're already up to version 9</li>
    <li>Numbers are not allowed as the first character of a variable name</li>
    <li>JavaScript IS case-sensitive</li>
    <li>Some web servers (Apache, Unix) ARE case sensitive about file names</li>
    <li>null is for objects, undefined is for variables, properties, and methods</li>
    <li>All function arguments are optional and you can even pass in more than a function expects</li>
</ul>

<p>&nbsp;</p>


@section Scripts
{
}
