@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Keywords";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-basics}
@section BreadCrumbChapter {basics}
@section BreadCrumbPageName {keywords}
@section PageName {Keywords}

<dl class="row">
    <dt class="col-sm-3">break</dt>
    <dd class="col-sm-9">Terminates a switch or a loop</dd>

    <dt class="col-sm-3">continue</dt>
    <dd class="col-sm-9">Jumps out of a loop and starts at the top</dd>

    <dt class="col-sm-3">debugger</dt>
    <dd class="col-sm-9">Stops the execution of JavaScript, and calls (if available) the debugging</dd>

    <dt class="col-sm-3 text-truncate">return</dt>
    <dd class="col-sm-9">Exits a function or block of code</dd>
</dl>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
}
