@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Regions";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-basics}
@section BreadCrumbChapter {basics}
@section BreadCrumbPageName {regions}
@section PageName {Regions}

<p>You can use collapsible Regions in Visual Studio with JavaScript files like so:</p>

<pre>
<code>
#region MyRegion
// ...code here..
// ...code here..
#endregion MyRegion
</code>
</pre>

<p>&nbsp;</p>


@section Scripts
{
}
