@page

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "For Loops";
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-flow-control}
@section BreadCrumbChapter {flow control}
@section BreadCrumbPageName {for loops}
@section PageName {for loops}

<h4>for</h4>
<p><code>for</code> loops loop thru a block of code n number of times.</p>
<div class="card bg-light my-3">
    <div class="card-body">
        <div class="mb-1" id="for-demo"></div>
    </div>
</div>

<pre>
<code>
// ITI = Initialize. Test, Increment
let output3 = "";
for (var i = 0; i < 5; i++)
{
    output3 += "The number is " + i + "<br />";
}
</code>
</pre>

<p>&nbsp;</p>

<p>
    There is no <code>for each</code> in javascript - at least not any more.
    It was deprecated as of ES4. Use <code>for in</code> or <code>for of</code> instead.
</p>

<p>
    Both <code>for..of</code> and <code>for..in</code> statements iterate over lists. The values which each iterate <strong>on</strong> are
    different though. See <a href="https://www.geeksforgeeks.org/htmlcollection-for-loop/" target="_blank">https://www.geeksforgeeks.org/htmlcollection-for-loop/</a>.
</p>

<p>&nbsp;</p>

<h4>for in</h4>
<p><code>for..in</code> returns a list of <strong>keys</strong> (indexes) on the object being iterated.</p>
<div class="card bg-light  my-3">
    <div class="card-body">
        <div class="mb-1" id="for-in-demo-1"></div>
    </div>
</div>

<pre>
<code>
// for in demo. show the indexes
let colors = [ "Red", "Blue", "White", "Green" ];
let output = "";

for (let i in colors)
{
    output += i + "&lt;br />";
}
</code>
</pre>

<p>&nbsp;</p>

<h4>for of</h4>
<p>
    <strong>for of</strong> - loops through the values of an iterable object.
    <code>for..of</code> returns a  list of values of the numeric properties of the object being iterated.
</p>
<div class="card bg-light my-3">
    <div class="card-body">
        <div class="mb-1" id="for-of-demo"></div>
    </div>
</div>

<pre>
<code>
// show the values
let colors2 = ["Red", "Blue", "White", "Green"];
let output2 = "";

for (let i of colors2)
{
    output2 += i + "&lt;br />";
}
</code>
</pre>

<p>&nbsp;</p>

@section Scripts
{
    <script>

        $(function () {

            // for loop. ITI = Initialize. Test, Increment
            let output3 = "";
            for (var i = 0; i < 5; i++) {
                output3 += "The number is " + i + "<br />";
            }
            $("#for-demo").html(output3);

            // for in demo
            // show the indexes
            let colors = ["Red", "Blue", "White", "Green"];
            let output = "";

            for (let i in colors) {
                output += i + "<br />";
            }
            $("#for-in-demo-1").html(output);

            /// for of demo
            // show the values
            let colors2 = ["Red", "Blue", "White", "Green"];
            let output2 = "";

            for (let i of colors2) {
                output2 += i + "<br />";
            }
            $("#for-of-demo").html(output2);

        });
    </script>
}
